
body {
    background-color: lightblue; 
  }
  .wrapper {
    width: 70%; 
    margin: auto; 
    text-align: center; 
  }
  h1 {
    margin:20x; 
    font-size: 6rem;
    color: purple;
  }
  .dice-area {
    margin: 0px 50px; 
    text-align: center; 
    display: inline-block; 
  }
  p {
    font-size: 2.5rem; 
    color: white; 
  }

  .img { 
      width: 100px;
      height: 50px;
  }
